//Estilo Pagina Servicios Desktop

#grilla{
    display: grid;
    grid-template-areas: 
        "hero hero hero"
        "titulo titulo titulo"
        "servicio1 servicio2 servicio3"
        "piePag piePag piePag";
    grid-template-rows: 100% 30% 90% auto;
    grid-template-columns: 1fr 1fr 1fr;
    height: 100vh;
}

#hero{
    grid-area: hero;
}

#titulo{
    grid-area: titulo;
}

#servicio{
    grid-area: servicio;
}

#piePag{
    grid-area: piePag;
}

.hero-servicios{
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.img-hero-servicios{
    display: flex;
    width: 50%;
    height: 100%;
    align-items:center;
    justify-content: center;

    img{
        width: 80%;
    }
}

.titulo-servicios{
    display: flex;
    flex-direction: column;
    width: 40%;
    height: 100%;
    justify-content:center;
    align-items:center;
    gap: 3rem;

    h2{
        font-size: 3rem;
        color: $colorTitulo;

    p{
        color: $colorParrafo;
    }
    }
}

.subtitulo-servicios{
    margin: 2rem;

    p{
        text-align: center;
        font-size: 2rem;
        color: $colorPrincipal;
    }
    h3{
        text-align: center;
        font-size: 2rem;
    }
}

.img-servicio{
    display: flex;
    justify-content: center;
    align-items: center;
    height: auto;
    
    div{
        display: flex;
        flex-direction: column;
        gap: 1.5rem;
        justify-content: center;
        align-items: center;
        width: 100%;

        img{
            width: 80%;
        }
        h4{
            color: $colorTitulo;
            font-weight: 600;
            font-size: 1.4rem;
        }
        p{
            font-weight: 600;
            font-size: 1rem;
            text-align: center;
            line-height: 1.3rem;
            width: 80%;
            color: $colorParrafo;
        }
    }
}



